.event_info {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

#close-modal {
    display: flex;
    flex-direction: row-reverse;
}

#info-container {

}

.info-navigate {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}