.EventAddForm {
    display: flex;
    flex-direction: row;
}

.event-add-form-part {
    display: flex;
    flex-direction: column;
}

#tags-outlined {
    max-width: 400px;
}

.event-add-form-part * {

}