.ExerciseLayout {
    width: 92%;
    margin: 4%;
    background-color: white;
    //border-radius: 10%;
    //border: 1px solid black;
    height: 150px;
    display: flex;
    flex-direction: column;
    color: darkblue;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-user-select: none;
    cursor: pointer;
}

.ExerciseLayout:hover {
    background: rgb(242, 242, 242);
}

#title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5%;
}