.NavBar {
    background-color: #1976d2;
    float: right;
    width: 240px;
    position: sticky;
    display: flex;
    flex-direction: column;
}

.ball {
    height: 100%;
}

#ball-back {
    border-radius: 50%;
    background-color: white;
}

#ball {
    height: 120px;
    width: 120px;
    margin: 10% auto;
    display: flex;
}

@media (prefers-reduced-motion: no-preference) {
    .ball {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}